h1{
    text-align: center;
    color: rebeccapurple;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.hamalert{
    text-align: center;
}

.visitas{
    text-align: center;

}